<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.group11.assist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".QuickTextActivity"></activity>
        <activity android:name=".CalendarMonthActivity" />
        <activity android:name=".CalendarYearActivity" />
        <activity android:name=".CalendarDayActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".AddGroupActivity" />
        <activity android:name=".AddTemplateActivity" />
        <activity android:name=".EditContactActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".EditGroupActivity" />
        <activity android:name=".EditTemplateActivity" />
        <activity android:name=".ViewContactListActivity" />
        <activity android:name=".ViewGroupListActivity" />
        <activity android:name=".ViewTemplateListActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".TemplateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>